footer {
  color: #fff;
  background-color: #000;
}
footer article {
  padding-top: 4rem;
  padding-bottom: 10rem!important;
  padding-left: 10rem!important;
}
footer article a {
  display: block;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
footer article a:hover {
  color: #409eff;
}
.v-support-logo {
  margin: 2rem 4rem;
  text-align: center;
}
.v-support-logo img {
  width: auto;
  height: 5rem!important;
  margin: 2rem;
}
@keyframes v-ball-updown {
  0% {
    transform: translate3d(0, -5%, 0);
  }
  100% {
    transform: translate3d(0, 3%, 0);
  }
}
.v-feature.v-feature-bg {
  width: 100%;
  height: calc(100%);
  position: relative;
}
.v-ball.ball {
  height: 0;
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  border-radius: 100%;
  animation: v-ball-updown 5s 0s infinite alternate;
  background: radial-gradient(dodgerblue, white);
}
.v-feature.v-card {
  top: 0;
  display: block;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .3s ease-in-out;
}
.v-feature.v-card:hover {
  top: -5px;
  box-shadow: 0 6px 18px 0 rgba(232,237,250,.5);
}
.v-feature.v-card>.caption>p {
  padding: 1rem 25px;line-height: 20px;
}
.v-feature.v-card>.caption>a {
  height: 53px;
  line-height: 52px;
  font-size: 14px;
  color: #409eff;
  border: 0;
  border-top: 1px solid #eaeefb;
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  transition: all .3s;
  text-decoration: none;
  display: block;
}
.v-feature.v-card>.caption>a:hover {
  color: #fff;
  background-color: #409eff;
}
.svg-icon {
  width: 100%;
  height: 200px;
  float: left;
  margin: 0;
  padding: 30px;
  display: block;
  text-align: center;
}
.flat-filled .circle {
  fill: #fff;
  transform: translate(0px,0px) scale(1,1);
  -webkit-transform: translate(0px,0px) scale(1,1);
  -moz-transform: translate(0px,0px) scale(1,1);
}
.flat-filled .icon>path {
  fill: #777;
  -moz-transform: translate(0px,0px) scale(1,1);
  -webkit-transform: translate(0px,0px) scale(1,1);
  transform: translate(0px,0px) scale(1,1);
}

#filled-pencil:hover .circle {
  fill: #cdefe1
}

#filled-pencil:hover .wood {
  fill: #ffc833
}

#filled-pencil:hover .base_top {
  fill: #456fd8
}

#filled-pencil:hover .base_bottom {
  fill: #3258b6
}

#filled-pencil:hover .base_middle {
  fill: #567fe5
}

#filled-pencil:hover .tip {
  fill: #567fe5
}

#filled-pencil:hover .eraser {
  fill: #ff72b1
}

#filled-pencil:hover .metal {
  fill: #c6c6c6
}

#filled-rocket:hover .circle {
  fill: #4bae97
}

#filled-rocket:hover .engine {
  fill: #7d7d7d
}

#filled-rocket:hover .base {
  fill: #b0ced8
}

#filled-rocket:hover .window {
  fill: #8babb6
}

#filled-rocket:hover .glass {
  fill: #fff
}

#filled-rocket:hover .flame {
  fill: #ff5400
}

#filled-disk .top {
  fill: #fff
}

#filled-disk .top_right {
  fill: #fff
}

#filled-disk .text {
  fill: #fff
}

#filled-disk:hover .circle {
  fill: #f3cf3f
}

#filled-disk:hover .base {
  fill: #5d699b
}

#filled-disk:hover .top {
  fill: #b2b2b2
}

#filled-disk:hover .top_right {
  fill: #747a90
}

#filled-disk:hover .bottom {
  fill: #d9d9c2
}

#filled-disk:hover .text {
  fill: #747a90
}
#filled-graph:hover .circle {
  fill: #e3a7c0
}

#filled-graph:hover .bar_left {
  fill: #7bc156
}

#filled-graph:hover .bar_middle {
  fill: #92d76c
}

#filled-graph:hover .bar_right {
  fill: #64a242
}

@-moz-keyframes left-top {
  0% {
    -webki-transform: translate(-100px, -100px) scale(3, 3)
  }
  1% {
    -webkit-transform: translate(-100px, -100px) scale(3, 3)
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1, 1)
  }
}

@-webkit-keyframes left-top {
  0% {
    -webki-transform: translate(-100px, -100px) scale(3, 3)
  }
  1% {
    -webkit-transform: translate(-100px, -100px) scale(3, 3)
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1, 1)
  }
}

@keyframes left-top {
  0% {
    transform: translate(-100px, -100px) scale(3, 3)
  }
  1% {
    transform: translate(-100px, -100px) scale(3, 3)
  }
  100% {
    transform: translate(0px, 0px) scale(1, 1)
  }
}

@-moz-keyframes right-top {
  0% {
    -webki-transform: translate(100px, -200px) scale(3, 3)
  }
  1% {
    -webkit-transform: translate(100px, -200px) scale(3, 3)
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1, 1)
  }
}

@-webkit-keyframes right-top {
  0% {
    -webki-transform: translate(100px, -200px) scale(3, 3)
  }
  1% {
    -webkit-transform: translate(100px, -200px) scale(3, 3)
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1, 1)
  }
}

@keyframes right-top {
  0% {
    transform: translate(100px, -200px) scale(3, 3)
  }
  1% {
    transform: translate(100px, -200px) scale(3, 3)
  }
  100% {
    transform: translate(0px, 0px) scale(1, 1)
  }
}

@-moz-keyframes right {
  0% {
    -webki-transform: translate(100px, 0px)
  }
  1% {
    -webkit-transform: translate(100px, 0px)
  }
  100% {
    -webkit-transform: translate(0px, 0px)
  }
}

@-webkit-keyframes right {
  0% {
    -webki-transform: translate(100px, 0px)
  }
  1% {
    -webkit-transform: translate(100px, 0px)
  }
  100% {
    -webkit-transform: translate(0px, 0px)
  }
}

@keyframes right {
  0% {
    transform: translate(100px, 0px)
  }
  1% {
    transform: translate(100px, 0px)
  }
  100% {
    transform: translate(0px, 0px)
  }
}

@-moz-keyframes left {
  0% {
    -webki-transform: translate(-100px, 0px)
  }
  1% {
    -webkit-transform: translate(-100px, 0px)
  }
  100% {
    -webkit-transform: translate(0px, 0px)
  }
}

@-webkit-keyframes left {
  0% {
    -webki-transform: translate(-100px, 0px)
  }
  1% {
    -webkit-transform: translate(-100px, 0px)
  }
  100% {
    -webkit-transform: translate(0px, 0px)
  }
}

@keyframes left {
  0% {
    transform: translate(-100px, 0px)
  }
  1% {
    transform: translate(-100px, 0px)
  }
  100% {
    transform: translate(0px, 0px)
  }
}

#filled-graph:hover .dot_4, #filled-graph:hover .dot_3, #filled-graph:hover .dot_2, #filled-graph:hover .dot_1 {
  fill: #fff
}

#filled-winner:hover .text, #filled-user:hover .hair, #filled-trash:hover .lid, #filled-thumbsdown:hover .base, #filled-thumbsup:hover .base, #filled-suitcase:hover .buttons, #filled-spaceship:hover .light, #filled-screen:hover .highlight, #filled-rocket:hover .glass, #filled-robot:hover .eyes, #filled-robot:hover .ears, #filled-present:hover .ribbon, #filled-plane:hover .middle, #filled-picture:hover .sun, #filled-phone:hover .screen, #filled-pencil:hover .metal, #filled-mic:hover .bars_left, #filled-message:hover .dots, #filled-lock:hover .keyhole, #filled-lightning:hover .highlight, #filled-home:hover .hole, #filled-heart:hover .left, #filled-graph:hover .bar_left, #filled-folder:hover .paper_front, #filled-flag:hover .pole, #filled-film:hover .bottom, #filled-email:hover .text, #filled-disk:hover .bottom, #filled-disk:hover .text, #filled-diamond:hover .middle, #filled-coffee:hover .middle, #filled-clock:hover .seconds, #filled-camera:hover .strip, #filled-calander:hover .left, #filled-brush:hover .brush_silver, #filled-browser:hover .screen {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -ms-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50px 50px;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: left;
  -moz-animation-name: left;
  -ms-animation-name: left;
  -o-animation-name: left;
  animation-name: left
}

#filled-winner:hover .base, #filled-user:hover .body, #filled-trash:hover .base, #filled-thumbsdown:hover .sleeve, #filled-thumbsup:hover .sleeve, #filled-tag:hover .base, #filled-storm:hover .cloud, #filled-spaceship:hover .base, #filled-screen:hover .base, #filled-rocket:hover .base, #filled-robot:hover .base, #filled-present:hover .base, #filled-picture:hover .mountain, #filled-phone:hover .base, #filled-pencil:hover .base_middle, #filled-paper:hover .base, #filled-mic:hover .bars_right rect, #filled-magnify:hover .glass, #filled-lock:hover .base, #filled-location:hover .inner, #filled-home:hover .base, #filled-graph:hover .bar_middle, #filled-folder:hover .paper_back, #filled-flag:hover .top, #filled-film:hover .base, #filled-email:hover .base, #filled-disk:hover .base, #filled-diamond:hover .right, #filled-coffee:hover .base, #filled-clock:hover .base, #filled-camera:hover .base, #filled-calander:hover .base_top, #filled-browser:hover .base {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50px 50px;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: right;
  -moz-animation-name: right;
  -ms-animation-name: right;
  -o-animation-name: right;
  animation-name: right
}

#filled-user:hover .head, #filled-thumbsdown:hover .cuff, #filled-thumbsdown:hover .cuff, #filled-suitcase:hover .top, #filled-storm:hover .lightning, #filled-spaceship:hover .circles, #filled-spaceship:hover .glass, #filled-settings:hover .top, #filled-rocket:hover .engine, #filled-robot:hover .highlight, #filled-present:hover .top, #filled-plane:hover .right, #filled-picture:hover .sky, #filled-phone:hover .details, #filled-pencil:hover .eraser, #filled-pencil:hover .base_bottom, #filled-paper:hover .front, #filled-mic:hover .base, #filled-mic:hover .stand, #filled-lock:hover .baselight, #filled-location:hover .base, #filled-lightning:hover .bolt, #filled-home:hover .roof, #filled-heart:hover .base, #filled-graph:hover .bar_right, #filled-graph:hover .dot_4, #filled-flag:hover .bottom, #filled-film:hover .top, #filled-disk:hover .top_right, #filled-diamond:hover .top_right, #filled-diamond:hover .left, #filled-coffee:hover .top, #filled-clock:hover .face, #filled-calander:hover .right, #filled-brush:hover .brush_base, #filled-browser:hover .top {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -ms-animation-delay: .1s;
  -o-animation-delay: .1s;
  animation-delay: .1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50px 50px;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: right-top;
  -moz-animation-name: right-top;
  -ms-animation-name: right-top;
  -o-animation-name: right-top;
  animation-name: right-top
}

#filled-winner:hover .ribbon, #filled-trash:hover .details, #filled-thumbsdown:hover .dot, #filled-thumbsup:hover .dot, #filled-tag:hover .dot, #filled-suitcase:hover .bottom, #filled-settings:hover .base, #filled-screen:hover .stand, #filled-rocket:hover .window, #filled-robot:hover .antenna, #filled-plane:hover .left, #filled-picture:hover .front, #filled-pencil:hover .base_top, #filled-paper:hover .corner, #filled-magnify:hover .base, #filled-lock:hover .bar, #filled-graph:hover .dot_3, #filled-flag:hover .shadow, #filled-email:hover .paper, #filled-disk:hover .top, #filled-diamond:hover .top_left, #filled-diamond:hover .top_3, #filled-clock:hover .minute, #filled-camera:hover .flash, #filled-calander:hover .number, #filled-brush:hover .brush_highlight, #filled-browser:hover .green {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50px 50px;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: left-top;
  -moz-animation-name: left-top;
  -ms-animation-name: left-top;
  -o-animation-name: left-top;
  animation-name: left-top
}

#filled-user:hover .collar_left, #filled-screen:hover .logo, #filled-rocket:hover .flame, #filled-picture:hover .back, #filled-pencil:hover .tip, #filled-paper:hover .text, #filled-message:hover .front, #filled-graph:hover .dot_2, #filled-folder:hover .front, #filled-email:hover .top, #filled-diamond:hover .top_2, #filled-clock:hover .hour, #filled-camera:hover .red, #filled-calander:hover .base_bottom, #filled-browser:hover .orange {
  -webkit-animation-delay: .05s;
  -moz-animation-delay: .05s;
  -ms-animation-delay: .05s;
  -o-animation-delay: .05s;
  animation-delay: .05s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50px 50px;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: left-top;
  -moz-animation-name: left-top;
  -ms-animation-name: left-top;
  -o-animation-name: left-top;
  animation-name: left-top;
  -webkit-animation-name: left-top;
  -moz-animation-name: left-top;
  -ms-animation-name: left-top;
  -o-animation-name: left-top;
  animation-name: left-top
}

#filled-user:hover .collar_right, #filled-plane:hover .bottom, #filled-pencil:hover .wood, #filled-message:hover .back, #filled-graph:hover .dot_1, #filled-folder:hover .back, #filled-diamond:hover .top_1, #filled-clock:hover .middle, #filled-camera:hover .button, #filled-camera:hover .lens, #filled-camera:hover .lens_inner, #filled-brush:hover .brush_tip, #filled-browser:hover .red {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50px 50px;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: left-top;
  -moz-animation-name: left-top;
  -ms-animation-name: left-top;
  -o-animation-name: left-top;
  animation-name: left-top
}
