<!--
 Version v0.0.5
 User songshuzhong@bonc.com.cn
 ------------------------------------------------------------
 Date         Author          Version            Description
 ------------------------------------------------------------
 2018年9月14日 songshuzhong   v0.0.5            重构代码结构、采用html5原生拖放api
-->
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>页面建模</title>
  <link rel="icon" href="../static/img/favicon.png">
  <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/bower_components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="../static/bower_components/codemirror/addon/fold/foldgutter.css">
  <link rel="stylesheet" href="../static/bower_components/codemirror/theme/dracula.css">
  <link rel="stylesheet" href="../static/bower_components/codemirror/addon/fold/foldgutter.css">
  <link rel="stylesheet" href="../static/bower_components/codemirror/theme/eclipse.css">
  <link rel="stylesheet" href="../static/plugins/cs/validform-v5.3.2.min.css">
  <link rel="stylesheet" href="../static/plugins/cs/show-hint.css">
  <link rel="stylesheet" href="../static/cs/sidebar.css">
  <script type="text/javascript">
    var apiPath = ' https://easy-mock.com/mock/5b9f9573ddc3bc766bad77e6/xbconsole';
    var path = '{{ contextPath }}';
    var version = '/v1';
  </script>
  <style type="text/css">
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
      overflow: hidden;
    }
    a {
      color: #777;
    }
    a:hover {
      cursor: pointer;
      color: #003869!important;
    }
    .v-main-sidebar {
      top: 0;
      left: 0;
      width: 230px;
      height: calc(100% - 52px);
      position: absolute;
      transition: width .2s;
      overflow-y: auto;
      z-index: 810;
      background-color: #f8f8f8;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default" style="z-index: 999;margin-bottom: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#v-is-narrow">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <nav>
        <a class="navbar-brand">
          <img src="../static/img/favicon.png" width="30" height="30" style="display: inline-block; margin: -0.25rem 0.75rem 0 0;" alt="">可视化布局系统
        </a>
      </nav>
    </div>
    <div class="collapse navbar-collapse" id="v-is-narrow">
      <ul class="nav navbar-nav">
        <li><a><span class="glyphicon glyphicon-align-justify"></span></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">预览<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a onclick="directToTemplate(0)">
                <span class="glyphicon glyphicon-blackboard"></span>&nbsp;PC端
              </a>
            </li>
            <li>
              <a onclick="directToTemplate(1)">
                <span class="glyphicon glyphicon-phone"></span>&nbsp;移动端
              </a>
            </li>
          </ul>
        </li>
        <li><a id="v-cleanLayout">清空</a></li>
        <li><a id="v-savePageModel">保存</a></li>
      </ul>
      <form id="v-module-form" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" name="moduleName" placeholder="Search">
        </div>
        <button id="v-module-search" type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a><span class="glyphicon glyphicon-cog"></span>&nbsp;设置</a></li>
      </ul>
    </div>
  </div>
</nav>
<aside class="v-main-sidebar" style="margin-top: 52px">
  <ul id="v-side-bar-menu" class="v-sidebar v-sidebar-menu"></ul>
</aside>
<aside id="v-main-container" class="container drop-helper-container" data-uuid="container"></aside>
<div id="v-editorModal" class="modal fade">
  <ul id="v-previewTabs" class="nav nav-tabs" style="background-color: white">
    <li class="active"><a href="#html" data-toggle="tab">HTML</a></li>
    <li><a href="#js" data-toggle="tab">JS</a></li>
    <li><a href="#cs" data-toggle="tab">CS</a></li>
    <li><a href="#" id="v-saveEditorial">保存</a></li>
    <li><a href="#" id="v-closeEditorial">关闭</a></li>
  </ul>
  <div class="tab-content" style="height: calc(100vh - 42px);">
    <div class="tab-pane fade in active" style="height: 100%;" id="html">
      <textarea id="htmlEditor" name="htmlEditor"></textarea>
    </div>
    <div class="tab-pane fade" style="height: 100%;" id="js">
      <textarea id="jsEditor" name="jsEditor"></textarea>
    </div>
    <div class="tab-pane fade" style="height: 100%;" id="cs">
      <textarea id="csEditor" name="csEditor"></textarea>
    </div>
  </div>
</div>
<div class="modal fade" id="v-shareModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">保存</h4>
      </div>
      <div class="modal-body">保存成功</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<iframe id="v-pureHtmlTemplate" style="display: none"></iframe>
<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../static/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/fold/foldcode.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/fold/foldgutter.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/fold/brace-fold.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/fold/xml-fold.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/fold/indent-fold.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/fold/markdown-fold.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/fold/comment-fold.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/hint/show-hint.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/hint/anyword-hint.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/hint/css-hint.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/hint/xml-hint.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/hint/html-hint.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/addon/hint/javascript-hint.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/mode/xml/xml.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/mode/css/css.js"></script>
<script type="text/javascript" src="../static/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script type="text/javascript" src="../static/plugins/js/codeMirror-format.js"></script>
<script type="text/javascript" src="../static/plugins/js/codeMirror-cs.js"></script>
<script type="text/javascript" src="../static/plugins/js/codeMirror-html.js"></script>
<script type="text/javascript" src="../static/plugins/js/codeMirror-js.js"></script>
<script type="text/javascript" src="../static/plugins/js/codeMirror-xml.js"></script>
<script type="text/javascript" src="../static/js/codeMirrorSetting.js"></script>
<script type="text/javascript" src="../static/js/visualizeUtil.js"></script>
<script type="text/javascript" src="../static/js/navTools.js"></script>
<script type="text/javascript" src="../static/js/sidebar.js"></script>
</body>
</html>
